mixin modal(data)
  .modal#offer&attributes(attributes)
    h5.text-white.text-center.font-weight-bold.mb-20 Введите свой вариант имени персонажа
    form.modal__form(action="#", method="POST")
      input.modal__input.form-control(type="text")
      button.btn.btn-primary(type="submit") Далее
