.modal {
  display: none;
  background: transparent !important;

  &__form {
    display: flex;
  }

  &__input {
    height: 50px;
    border-radius: 0;

    &:focus,
    &:active {
      border-color: #fff;
      outline: none;
      box-shadow: none;
    }
  }
}
