@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/subset-Gilroy-Black.woff2') format('woff2'),
    url('../fonts/subset-Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/subset-Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/subset-Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/subset-Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/subset-Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/subset-Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/subset-Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Violet';
  src: url('../fonts/Violet.woff2') format('woff2'), url('../fonts/Violet.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
