h1 {
  font-family: $font-family-headings;
  font-size: 110px;
  line-height: .86;
  font-weight: 400;
  text-transform: uppercase;
  color: $secondary;

  @include media-breakpoint-down(xml) {
    font-size: 80px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 60px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 50px;
  }
}

h2 {
  font-family: $font-family-headings;
  font-size: 100px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 70px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 45px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h3 {
  font-family: $font-family-headings;
  font-size: 70px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 50px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 35px;
    line-height: 1;
  }
}

h4 {
  font-family: $font-family-sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;

  @include media-breakpoint-down(xl) {
    font-size: 25px;
  }
}

h5 {
  font-family: $font-family-sans-serif;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 900;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 20px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

h6 {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 1.5;

  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
}

p {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 1.5;

  @include media-breakpoint-down(xml) {
    font-size: 18px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

  &.p--sm {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    line-height: 1.5;

    @include media-breakpoint-down(xml) {
      font-size: 16px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 15px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &.p--xs {
    font-size: 16px;
    line-height: 1.5;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
