.final {
  position: relative;
  margin-top: 165px;
  margin-bottom: 122px;
  padding: 57px 138px 48px 540px;
  display: flex;
  background: url(../img/final-bg.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

  @include media-breakpoint-down(xml) {
    margin-top: 100px;
    padding-left: 400px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(
      -104.94deg,
      rgba(255, 255, 255, .75) 64.58%,
      rgba(255, 255, 255, 0) 82.11%
    );
    border-radius: 20px;

    @include media-breakpoint-down(xml) {
      background: linear-gradient(
        -104.94deg,
        rgba(255, 255, 255, .75) 70%,
        rgba(255, 255, 255, 0) 82.11%
      );
    }

    @include media-breakpoint-down(md) {
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(-142.71deg, rgba(255, 255, 255, .75) 63.04%, rgba(255, 255, 255, 0) 76.09%);
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    max-width: 440px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @include media-breakpoint-down(xml) {
      max-width: 340px;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 33px;
      order: 3;
    }
  }

  &__animal {
    position: relative;
    left: 45px;
    width: 100%;

    @include media-breakpoint-down(xml) {
      left: 20px;
    }

    @include media-breakpoint-down(md) {
      left: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(md) {
      order: 1;
    }

    p {
      margin-bottom: 30px;
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }

  &__share {
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: 35px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      position: static;
      margin-top: 33px;
      order: 2;
    }
  }

  &__share-header {
    margin-right: 44px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #1a171b;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }
  }
}
