mixin final(data)
  .final&attributes(attributes)
    .final__picture
      img.final__animal(src="./img/deer.png", alt)
    .final__content
      p Ура! Спасибо, что сделали выбор, и теперь Россия получит лучшего талисмана в истории Универсиад. Но чтобы наш персонаж точно прошел отбор, вы можете поучаствовать в еще одном большом и важном деле – поделиться своим выбором в соцсетях. О талисмане должны знать все! 
      p Когда голосование закончится, 10 самых популярных образов отправятся на отрисовку к студентам-художникам. После чего жюри выберет три лучших варианта. И затем мы проголосуем снова. 
      p.mb-0 До встречи!
    .final__share
      .final__share-header Поделиться
      +socials

