/* Bootstrap */

.container {

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btn {

  &.btn-primary {
    padding: 6px 24.5px 3px;
    font-family: $font-family-headings;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-radius: 0;

    @include media-breakpoint-down(xml) {
      font-size: 24px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      letter-spacing: -.5px;
    }
  }

  &.btn--inactive {
    pointer-events: none;
    background: rgba($primary, .2);
    border-color: rgba($primary, .2);
  }
}

/* Fancybox */

body {

  &.fancybox-active {

    .quiz {
      filter: blur(25px);
      transform: translate3d(0, 0, 0);
    }

    .footer {
      filter: blur(25px);
      transform: translate3d(0, 0, 0);
    }
  }
}

.fancybox-content {
}

.fancybox-bg {
  background: rgba(0, 0, 0, .5);
}

.fancybox-close-small {
  position: fixed;
  top: 10px;
  right: 10px;

  svg {
    color: #fff;
  }
}
