.faq {
  margin-bottom: 8px;
  display: block;

  @include transition;

  &:hover {
    background: rgba(#000, .03);
  }

  &__question {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #95edff;

    @include media-breakpoint-down(sm) {
      padding: 17px 15px;
    }

    @include transition;

    &:after {
      display: block;
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      content: '';
      background: url(../img/plus.svg) no-repeat;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__title {
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
  }

  &__answer {
    padding: 0 25px 35px;
    display: none;
    background: #fff;

    @include media-breakpoint-down(sm) {
      padding: 0 15px 15px;
    }

    p {
      color: #000;
    }
  }

  &--active {
    background: #fff;

    &:hover {
      background: #fff;
    }

    .faq__question {
      border-bottom: 0;

      &:after {
        background: url(../img/minus.svg) no-repeat;
        background-size: contain;
      }
    }

    .faq__title {
      color: $secondary;
    }
  }
}
