mixin faq(data)
  a.faq(href="#")&attributes(attributes)
    .faq__question
      h5.faq__title= data.question
    .faq__answer
      p.mb-0 Большое Вам спасибо. Когда закончится голосование, мы сформируем список из десяти самых популярных персонажей. После этого десять образов будут нарисованы талантливыми студентами художественных ВУЗов страны. Из них специальное жюри выберет три лучших варианта. А финальный выбор снова за Вами – в конце весны мы объявим всеобщие голосование на нашем сайте.
