mixin timeline(data)
  .timeline&attributes(attributes)
    .row.no-gutters
      .col-md-4.timeline__item-wrapper
        +timeline__item({
          number: '1',
          date: '20 декабря 2019  –<br> 01 января 2020',
          dscr: 'Национальное голосование по выбору талисмана'
        })
      .col-md-4.timeline__item-wrapper
        +timeline__item({
          number: '2',
          date: 'Февраль -<br> март 2020',
          dscr: 'Отрисовка образов студентами художественных ВУЗов'
        })
      .col-md-4.timeline__item-wrapper
        +timeline__item({
          number: '3',
          date: 'Апрель -<br> Май 2020',
          dscr: 'Онлайн-опрос по выбору персонажа'
        })
  
  
  
  
mixin timeline__item(data)
  .timeline__item&attributes(attributes)
    .timeline__header
      .timeline__number= data.number
      h5.timeline__date.mb-0!= data.date
    .timeline__line
    h5.timeline__dscr.text-white.font-weight-normal= data.dscr
