.timeline {
  margin-bottom: 124px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    margin-top: 25px;
    margin-bottom: 8px;
  }

  &__item-wrapper {

    &:last-child {

      .timeline__line {

        &:after {
          position: absolute;
          left: 100%;
          display: block;
          width: 200vw;
          height: 4px;
          content: '';
          background: $primary;

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        @include media-breakpoint-down(sm) {
          height: auto;
        }
      }
    }
  }

  &__item {
    width: 100%;

    @include media-breakpoint-down(sm) {
      position: relative;
      padding-left: 55px;
      padding-bottom: 14px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__number {
    margin-right: 25px;
    font-size: 60px;
    line-height: 1.5;
    font-weight: 700;
    color: $primary;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  &__date {
  }

  &__line {
    position: relative;
    margin: 20px 0 21px;
    height: 4px;
    background: $primary;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 26px;
      left: 9px;
      margin: 0;
      width: 4px;
      height: 100%;
    }

    &:before {
      position: absolute;
      top: -7px;
      left: -5px;
      display: block;
      width: 18px;
      height: 18px;
      content: '';
      background: $primary;
      transform: rotate(45deg);

      @include media-breakpoint-down(sm) {
        top: -9px;
        left: -7px;
      }
    }
  }

  &__dscr {
    padding-right: 35%;

    @include media-breakpoint-down(md) {
      padding-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 12px;
    }
  }
}
