
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/timeline/timeline.pug
include ../blocks/faq/faq.pug
include ../blocks/footer/footer.pug
include ../blocks/main/main.pug
include ../blocks/back/back.pug
include ../blocks/item/item.pug
include ../blocks/progress/progress.pug
include ../blocks/quiz/quiz.pug
include ../blocks/final/final.pug
include ../blocks/socials/socials.pug
include ../blocks/modal/modal.pug