mixin progress(data)
  .progress&attributes(attributes)
    .progress__item.progress__item--active 
      span 1
    .progress__item.progress__item--active 
      span 2
    .progress__item 
      span 3
    .progress__item 
      span 4
    .progress__item 
      span 5
