.progress {
  margin-right: 40px;
  display: flex;
  width: 222px;
  align-items: center;

  @include media-breakpoint-down(lg) {
    margin-right: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 1005;
    text-align: center;
    color: #000;
    background: url(../img/rhombus.svg) no-repeat center;
    background-size: contain;

    span {
      z-index: 1;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 2px;
      display: block;
      width: calc(100% + 20px);
      height: 4px;
      content: '';
      background: #fff;
      transform: translateY(-50%);
    }

    & + & {
      margin-left: 15px;
    }

    &:last-child {

      &:before {
        display: none;
      }
    }

    &--active {
      color: #fff;
      background: url(../img/rhombus--active.svg) no-repeat;
      background-size: contain;

      &:before {
        background: $primary;
      }
    }
  }
}
