.quiz {
  overflow: hidden;
  min-height: 100vh;
  background: url(../img/inner-bg.jpg) no-repeat center;
  background-size: cover;

  &__header {
    margin-bottom: 47px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      align-items: flex-start;
    }

    .back {

      @include media-breakpoint-down(sm) {
        margin-top: 7px;
      }
    }
  }

  &__subheader-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__subheader {
    margin-top: 30px;
    margin-bottom: 38px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__subheader-btns {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }
  }

  &__footer {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-top: 50px;
      flex-direction: column;
      align-items: flex-start;
    }

    .btn {

      @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }

  &__footer-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    .progress {

      @include media-breakpoint-down(sm) {
        margin-bottom: 45px;
      }
    }
  }

  &__footer-right {
    display: flex;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
  }

  &__next {

    @include media-breakpoint-down(sm) {
      position: absolute;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &__species {
    margin-right: -20px;
    margin-left: -20px;
    display: flex;
    width: calc(100% + 40px);
    flex-wrap: wrap;
    //    justify-content: space-between;
    justify-content: flex-start;

    @include media-breakpoint-down(xml) {
      margin-right: -10px;
      margin-left: -10px;
      width: calc(100% + 20px);
    }

    @include media-breakpoint-down(lg) {
      justify-content: flex-start;
    }
  }

  &__propose {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-shadow: 0 2px 2px #000;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      position: static;
      width: 100%;
      transform: none;
    }

    h5 {
      padding: 5px 10px;
      background: rgba(0, 120, 191, .85);

      @include media-breakpoint-down(sm) {
        padding: 0;
        background: transparent;
      }
    }
  }

  &--name {

    .quiz__species {
      position: relative !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      width: 100% !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }

    .quiz__form {
      //      margin-top: 50px !important;
    }

    .quiz__footer {
      margin-top: 50px !important;

      @include media-breakpoint-down(sm) {
        margin-top: 20px !important;
      }
    }

    .custom-answer-step2 {
      margin: 10px 0 50px !important;
      width: 100% !important;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px !important;
      }
    }

    .quiz__footer-right {

      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }
    }
  }
}
