.socials {
  display: flex;

  &__item {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .85;
    }

    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
    }

    & + & {
      margin-left: 20px;

      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
  }
}
