.main {
  margin-top: -16.5vh;
  overflow: hidden;
  background: linear-gradient(
    180.3deg,
    rgba(56, 177, 179, 0) 1.08%,
    #38b1b3 10.91%,
    #0070a9 97.16%
  );

  @include media-breakpoint-down(md) {
    margin-top: 0;
    background: linear-gradient(182.72deg, #38b1b3 6.26%, #0070a9 97.16%);
  }

  @include media-breakpoint-down(sm) {
    margin-top: -150px;
    padding-top: 263px;
  }
}
