.item {
  display: flex;
  width: 100%;
  min-height: 520px;

  @include transition;

  @include media-breakpoint-down(xml) {
    min-height: 0;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-down(md) {
    min-height: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    min-height: 300px;
  }

  &:hover {
    opacity: .8;
  }

  .custom-control {
    padding-left: 0;
    display: flex;
    width: 100%;
  }

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {
        background: transparent;

        .item__wrapper {
          background: $primary;
        }
      }
    }
  }

  .custom-control-label {
    padding: 15px;
    display: flex;
    width: 100%;
    background: #fff;
    border: 2px solid #fff;
    cursor: pointer;

    &:before,
    &:after {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: #fff;
    border-radius: 5px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  &__picture-wrapper {
    position: relative;
    z-index: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
  }

  &__picture {
    max-width: 100%;

    @include media-breakpoint-down(md) {
      max-height: 230px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    color: #000;

    @include media-breakpoint-down(xml) {
      min-height: 40px;
      align-items: flex-start;
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      line-height: 1.2;
    }
  }

  &--species {
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    overflow: hidden;
    max-width: calc(20% - 40px);
    min-height: 230px;
    border-radius: 5px;

    @include media-breakpoint-down(xml) {
      margin-right: 10px;
      margin-left: 10px;
      max-width: calc(20% - 20px);
    }

    @include media-breakpoint-down(lg) {
      max-width: calc(25% - 20px);
    }

    @include media-breakpoint-down(md) {
      max-width: calc(33.33% - 20px);
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      width: 100%;
      max-width: 100%;
    }

    .item__bg {
      border-radius: 5px;
    }

    .item__wrapper {
      position: static;
      border-radius: 5px;
    }

    .item__picture {
      max-height: 119px;
    }

    .item__title {
      padding-bottom: 10px;
      min-height: 0;
      font-size: 20px;
      line-height: 1;
    }

    .custom-control-input {

      &:checked {

        & ~ .custom-control-label {
          border-radius: 5px;

          .item__bg {
            background: transparent !important;
          }
        }
      }
    }
  }

  &--text {
    margin-bottom: 45px;
    min-height: 136px;

    @include media-breakpoint-down(lg) {
      min-height: 100px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }

    .custom-control-input {

      &:checked {

        & ~ .custom-control-label {

          .item__bg {
            opacity: .5;
          }

          .item__wrapper {
            position: relative;
            background: $primary;
          }
        }
      }
    }

    .item__wrapper {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
    }

    .item__picture-wrapper {
      display: none;
    }

    .item__title {
      min-height: 0;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
    }
  }
}
