mixin item(data)
  .item&attributes(attributes)
    .custom-control.custom-checkbox
      input.custom-control-input(type=data.type, id=data.id, name=data.name)
      label.custom-control-label(for=data.id)
        .item__wrapper
          if data && data.bg
            .item__bg(style="background-image: url(./img/" + data.bg + ');')
          if data && data.picture != ''
            .item__picture-wrapper
              img.item__picture(src="./img/" + data.picture, alt)
          .item__title= data.title
