.footer {
  margin-top: 50px;
  padding: 50px 0;
  border-top: 1px solid #35aeb3;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    padding: 25px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__up {
    display: flex;
    align-items: center;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;

      p {
        color: #fff;
      }
    }

    p {

      @include media-breakpoint-down(sm) {
        font-size: 0;
      }
    }

    &:after {
      margin-left: 12px;
      display: block;
      width: 14px;
      height: 15px;
      content: '';
      background: url(../img/arrow.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }
}
