extends ../templates/template.pug
block content
  .quiz
    +menu.menu--inner
    .container
      .quiz__header
        h2.mb-0.text-white РОССИЯ   ВЫБИРАЕТ   ТАЛИСМАН   Универсиады   2023
      p.text-white Забивака обязательно брал с собой мяч, с которым мастерски управлялся, и очки от солнца, пыли и грязи. U-лайка повторила за Медвежонком из Сочи и носила шарф, чтобы не заболеть зимой. Нашего талисмана тоже нужно одеть: во-первых, от палящего уральского солнца – для этого может подойти модная среди прошлых талисманов Универсиад шляпа. Во-вторых, участников и наград становится больше – может понадобиться и целый рюкзак. Иногда даже доброму и отзывчивому герою требуется волшебная сила: для этого достаточно поместить в руки любой предмет – тот же факел – еще один символ турнира. Тогда образ получится еще более завершенным.
      p.text-white И снова выбор зависит от нас. Придумывать и выбирать можно любые варианты, а решение будет принято голосованием всей России. 
      .d-sm-flex.align-items-start.justify-content-between.mt-40.mb-40
        h4.quiz__subheader.mt-0.mb-10.mb-sm-0 Выберите внешние атрибуты персонажа
        .quiz__subheader-right
          .quiz__subheader-btns
            a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
            a.btn.btn-primary(href="species.html") ДАлее
          p.text-white.p--xs.mb-0.text-sm-right Можно выбрать несколько вариантов
      form.quiz__form(action="#", method="POST")
        .row
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute1',
              type: 'checkbox',
              bg: 'bg-new-1.png',
              title: 'Кепка'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute2',
              type: 'checkbox',
              bg: 'bg-new-2.png',
              title: 'Шапка'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute3',
              type: 'checkbox',
              bg: 'bg-new-3.png',
              title: 'Трубка'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute4',
              type: 'checkbox',
              bg: 'bg-new-4.png',
              title: 'Еще вариант'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute5',
              type: 'checkbox',
              bg: 'bg-new-5.png',
              title: 'Смелый'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute6',
              type: 'checkbox',
              bg: 'bg-new-6.png',
              title: 'Мудрый'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute7',
              type: 'checkbox',
              bg: 'bg-new-1.png',
              title: 'Быстрый'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute8',
              type: 'checkbox',
              bg: 'bg-new-2.png',
              title: 'Талантливый'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute9',
              type: 'checkbox',
              bg: 'bg-new-3.png',
              title: 'Забавный'
            }).item--text
          .col-md-4.col-lg-3.col-xl-2
            +item({
              id: 'attribute10',
              type: 'checkbox',
              bg: 'bg-new-4.png',
              title: 'Умный'
            }).item--text
      .quiz__footer.mt-sm-0
        .quiz__footer-left
          +progress
          a.btn.btn-primary(href="#offer" data-fancybox) Предложить своего персонажа
        .quiz__footer-right
          a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
          a.btn.btn-primary(href="final.html") ДАлее
    +footer
