extends ../templates/template.pug
block content
  .quiz
    +menu.menu--inner
    .container
      .quiz__header
        h2.mb-0.text-white РОССИЯ   ВЫБИРАЕТ   ТАЛИСМАН   Универсиады   2023
      p.text-white Просто персонаж – даже если он великий Чебурашка – никто без характера. Выбрать его мы хотим тоже вместе. Именно от результатов голосования зависит, будет ли он больше добрый или смелый, захочет идти на подвиги или станет скромно наблюдать за атлетами, поддерживая их своей улыбкой. Или вдруг все эти качества, а еще целеустремленность, лидерство и волшебные свойства воплотятся в одном герое? 
      p.text-white Решение именно за вами – и тогда талисман станет не просто образом, а живым другом большого турнира. 
      .d-sm-flex.align-items-start.justify-content-between.mt-35.mb-40
        h4.quiz__subheader.mt-0.mb-10.mb-sm-0 И несколько черт характера…
        .quiz__subheader-right
          .quiz__subheader-btns
            a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
            a.btn.btn-primary(href="species.html") ДАлее
          p.text-white.text-sm-right.p--xs.mb-0 Можно выбрать несколько вариантов
      form.quiz__form(action="#", method="POST")
        .row
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character1',
              type: 'checkbox',
              bg: 'bg-new-1.png',
              title: 'Общительный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character2',
              type: 'checkbox',
              bg: 'bg-new-2.png',
              title: 'Дружелюбный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character3',
              type: 'checkbox',
              bg: 'bg-new-3.png',
              title: 'Любопытный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character4',
              type: 'checkbox',
              bg: 'bg-new-6.png',
              title: 'Добрый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character5',
              type: 'checkbox',
              bg: 'bg-new-5.png',
              title: 'Дерзкий'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character6',
              type: 'checkbox',
              bg: 'bg-new-6.png',
              title: 'Хитрый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character7',
              type: 'checkbox',
              bg: 'bg-new-1.png',
              title: 'Открытый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character8',
              type: 'checkbox',
              bg: 'bg-new-2.png',
              title: 'Активный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character9',
              type: 'checkbox',
              bg: 'bg-new-3.png',
              title: 'Спортивный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character10',
              type: 'checkbox',
              bg: 'bg-new-4.png',
              title: 'Сильный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character11',
              type: 'checkbox',
              bg: 'bg-new-5.png',
              title: 'Смелый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character12',
              type: 'checkbox',
              bg: 'bg-new-6.png',
              title: 'Мудрый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character13',
              type: 'checkbox',
              bg: 'bg-new-1.png',
              title: 'Быстрый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character14',
              type: 'checkbox',
              bg: 'bg-new-2.png',
              title: 'Талантливый'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character15',
              type: 'checkbox',
              bg: 'bg-new-3.png',
              title: 'Забавный'
            }).item--text
          .col-sm-4.col-lg-3.col-xml-2
            +item({
              id: 'character16',
              type: 'checkbox',
              bg: 'bg-new-4.png',
              title: 'Умный'
            }).item--text
      .quiz__footer.mt-sm-0
        .quiz__footer-left
          +progress
          a.btn.btn-primary(href="#offer" data-fancybox) Предложить своего персонажа
        .quiz__footer-right
          a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
          a.btn.btn-primary(href="final.html") ДАлее
    +footer
