extends ../templates/template.pug
block content
  .quiz
    +menu.menu--inner
    .container
      h2.mt-45.mb-0.text-white РОССИЯ   ВЫБИРАЕТ   ТАЛИСМАН   Универсиады   2023
      +final
      .quiz__footer.justify-content-end
        a.btn.btn-primary(href="final.html") На главную
    +footer
