extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="type.html", style="font-size: 20px;") Type
          li(style="list-style: none;")
            a.d-block.my-20(href="species.html", style="font-size: 20px;") Species
          li(style="list-style: none;")
            a.d-block.my-20(href="character.html", style="font-size: 20px;") Character
          li(style="list-style: none;")
            a.d-block.my-20(href="attributes.html", style="font-size: 20px;") Attributes
          li(style="list-style: none;")
            a.d-block.my-20(href="final.html", style="font-size: 20px;") Final
