extends ../templates/template.pug
block content
  +front#participation
  .main
    .container#timeline
      h3 Как будут выбирать талисман
      +timeline
      h3.mb-20#faq Вопросы и ответы
      +faq({
        question: 'Зачем нужен талисман?',
      })
      +faq({
        question: 'Я прошел опрос, что дальше?',
      })
      +faq({
        question: 'Могу ли я нарисовать свой талисман?',
      })
      +faq({
        question: 'Когда будет выбран талисман?',
      })
      +faq({
        question: 'Я студент-дизайнер, как мне принять участие в конкурсе?',
      })
      +faq({
        question: 'Кто принимает решение по выбору талисмана?',
      })
      +faq({
        question: 'Кто войдет в жюри по отбору дизайнов, созданных студентами?',
      })
    +footer
