extends ../templates/template.pug
block content
  .quiz
    +menu.menu--inner
    .container
      .quiz__header
        h2.mb-0.text-white РОССИЯ   ВЫБИРАЕТ   ТАЛИСМАН   Универсиады   2023
      p.text-white До Универсиады-2023 в России проходили две Универсиады: талисманом Казани-2013 был снежный барс Юни, Красноярска-2019 – U-лайка. Животные – вообще фавориты голосований во всех странах.
      p.text-white Екатеринбург напрямую связан с десятками видов животных, которые обитают недалеко от города. Кабан, лось, лиса, соболь, северный олень, ящерица – предложить можно десятки вариантов. Борьба за ваши голоса в этой группе будет как на настоящих соревнованиях. 
      .quiz__subheader-wrapper
        h4.quiz__subheader.text-white.font-weight-bold.mt-35.mb-15 Выберите животное
        .quiz__subheader-btns
          a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
          a.btn.btn-primary(href="species.html") ДАлее
      form.quiz__form(action="#", method="POST")
        .quiz__species
          +item({
            id: 'animal1',
            type: 'radio',
            name: 'animal',
            bg: 'bg-1.png',
            picture: 'species-1.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal2',
            type: 'radio',
            name: 'animal',
            bg: 'bg-2.png',
            picture: 'species-2.png',
            title: 'Енотовидная собака'
          }).item--species
          +item({
            id: 'animal3',
            type: 'radio',
            name: 'animal',
            bg: 'bg-3.png',
            picture: 'species-3.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal4',
            type: 'radio',
            name: 'animal',
            bg: 'bg-4.png',
            picture: 'species-4.png',
            title: 'Незабудочник уральский'
          }).item--species
          +item({
            id: 'animal5',
            type: 'radio',
            name: 'animal',
            bg: 'bg-5.png',
            picture: 'species-5.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal6',
            type: 'radio',
            name: 'animal',
            bg: 'bg-6.png',
            picture: 'species-6.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal7',
            type: 'radio',
            name: 'animal',
            bg: 'bg-7.png',
            picture: 'species-7.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal8',
            type: 'radio',
            name: 'animal',
            bg: 'bg-8.png',
            picture: 'species-8.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal9',
            type: 'radio',
            name: 'animal',
            bg: 'bg-9.png',
            picture: 'species-9.png',
            title: 'Бурый медведь'
          }).item--species
          +item({
            id: 'animal10',
            type: 'radio',
            name: 'animal',
            bg: 'bg-10.png',
            picture: 'species-10.png',
            title: 'Бурый медведь'
          }).item--species
      .quiz__footer.mt-sm-0
        .quiz__footer-left
          +progress
          a.btn.btn-primary(href="#offer" data-fancybox) Предложить своего персонажа
        .quiz__footer-right
          a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
          a.btn.btn-primary(href="final.html") ДАлее
    +footer
