extends ../templates/template.pug
block content
  .quiz
    +menu.menu--inner
    .container
      .quiz__header
        h2.mb-0.text-white РОССИЯ   ВЫБИРАЕТ   ТАЛИСМАН   Универсиады   2023
      p.text-white Все помнят трех счастливых талисманов Игр в Сочи – Барса, Зайку и Мишку, который плакал на церемонии закрытия. Забивака на чемпионате мира-2018 вообще стал главным героем турнира за пределами стадионов и в виде игрушки разъехался по сотням стран. Особо опытные болельщики помнят не события и годы проведения, а именно талисманы. 
      p.text-white За каждой фантазией стояла большая идея – отразить в образе талисмана традиции и достижения региона, в котором проходили соревнования. Талисман Универсиады-2023 должен прочно ассоциироваться с Екатеринбургом, Свердловской областью и быть запоминающимся символом для тысяч студентов со всего мира, которые скоро приедут в нашу страну для участия в турнире. 
      p.text-white.mb-0 Чтобы сделать выбор проще, первый этап поиска талисмана разделен на несколько блоков. Вы можете предложить героев из мира животных, растений и вымышленных персонажей, а еще выбрать их характер и одежду
      .quiz__subheader-wrapper
        h4.quiz__subheader.font-weight-bold Для начала укажи категорию
        .quiz__subheader-btns
          a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
          a.btn.btn-primary(href="species.html") ДАлее
      form.quiz__form(action="#", method="POST")
        .row
          .col-md-4.d-flex
            +item({
              id: 'type1',
              picture: 'type-1.png',
              title: 'Растение',
              type: 'radio',
              name: 'type'
            })
          .col-md-4.d-flex
            +item({
              id: 'type2',
              picture: 'type-2.png',
              title: 'Животный мир',
              type: 'radio',
              name: 'type'
            })
          .col-md-4.d-flex
            +item({
              id: 'type3',
              picture: 'type-3.png',
              title: 'Сказочные персонажи',
              type: 'radio',
              name: 'type'
            })
      .quiz__footer
        .quiz__footer-left
          +progress
          a.btn.btn-primary(href="#offer" data-fancybox) Предложить своего персонажа
        .quiz__footer-right
          a.btn.btn-primary.mr-10.mr-lg-20(href="species.html") Назад
          a.btn.btn-primary(href="final.html") ДАлее

    +footer
