.front {
  padding: 90px 0 34vh;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background: url(../img/front.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(xml) {
    padding-bottom: 40vh;
  }

  @include media-breakpoint-down(xl) {
    padding-bottom: 35vh;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
    min-height: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 67px;
    padding-bottom: 15vh;
    background: url(../img/front-mob.png) no-repeat top center;
    background-size: 100% auto;
  }

  &__wrapper {
    display: flex;
  }

  &__content {
    padding: 35px 40px 0;
    background: linear-gradient(
      358.57deg,
      rgba(56, 177, 179, 0) 2.92%,
      rgba(56, 177, 179, .87) 25.55%,
      rgba(0, 112, 169, .74) 98.58%
    );

    @include media-breakpoint-down(md) {
      margin-bottom: 45px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: -206px;
      padding: 15px 18px 50px;
    }

    p + p {
      margin-top: 29px;
    }

    .btn {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__title {
    margin-top: -7px;

    @include media-breakpoint-down(xml) {
      margin-top: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 247px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
}
