mixin front(data)
  .front&attributes(attributes)
    +menu
    .container
      .row
        .col-lg-5.col-xl-4.col-xxl-4.order-2.order-lg-1
          .front__content
            p.p--sm.text-white Талисман – главный символ каждого спортивного соревнования, как флаг у страны или цвета любимого спортивного клуба. Его узнают намного раньше имен участников, а в памяти он остается даже дольше, чем победители.
            p.p--sm.text-white Выбирать талисмана для Универсиады-2023 в Екатеринбурге мы будем выбирать всей страной. Причем первый этап стартует уже сейчас: каждый житель России может предложить свой вариант.
            a.btn.btn-primary.mt-5.mt-sm-45(href="#") Принять участие
        .col-lg-6.order-1.order-lg-2
          h1.front__title Россия  выбирает  талисман  Универсиады 2023
        
