.menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-top: 21px;
  }

  &__content {
    display: flex;
  }

  &__item {
    font-family: $font-family-headings;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary;

    @include transition;

    @include media-breakpoint-down(xml) {
      font-size: 24px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-family: $font-family-sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 800;
    }

    & + & {
      margin-left: 40px;

      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
  }

  &--inner {
    position: static;
    margin-bottom: 32px;
    padding-top: 23px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }

    .menu__item {
      color: #fff;
    }
  }
}
