mixin menu(data)
  .menu&attributes(attributes)
    .container
      .menu__content
        a.menu__item(href="#participation") Участие
        a.menu__item(href="#timeline") Таймлайн
        a.menu__item(href="#faq") Вопрос и ответ
