.back {
  margin-right: 33px;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background: url(../img/back.svg) no-repeat center;
  background-size: contain;

  @include media-breakpoint-down(sm) {
    margin-right: 15px;
    width: 28px;
    height: 28px;
  }
}
